.card-list {
  width: 85vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

@media screen and (max-width: 425px) {
  .card-list {
    width: 85vw;
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 426px) and (max-width: 786px) {
  .card-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 787px) and (max-width: 1024px) {
  .card-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1025px) {
  .card-list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}